.inserted__title h2,  
.inserted__content h2{
    text-align: center;
    padding: 1em 0;
}

.inserted__content {
    p {
        text-align: justify;
    }

    li {
        padding-bottom: 0.5em;
        text-align: justify;
    }
}
